#main{
    overflow: hidden;
}
/* Header */

.header__title{
    height: 40.4px;
    display: flex;
    justify-content: space-evenly;
}
.header__text{
    font-size: 1.4rem;
    line-height: 40.4px;
    text-transform: uppercase;   
}
.header__link{
    display: flex;
    padding: 3px 0px;
    align-items: center;
}
.header__link a{
    font-size: 30px;
    margin: 0 5px;
    padding: 0px 0px;
    color: #de0204;
}
.header__link a:hover{
    opacity: 0.6;
}

/* Header with navbar */
.header__with-nav{
    position: relative;
    height: var(--header-height);
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    background-image: linear-gradient(0 ,#f53d3d,#df3523);
}

.header__navbar--icon{
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__logo{
    display: none;
}
.header__logo--text{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translateX(50%) translateY(-70%);
    font-family: 'Pacifico';
    font-size: 3.2rem;
    color: #fff8f8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header__logo--img{
    display: block;
    width: 80px;       
    border-radius: 10px;
}
.header__cart--icon{
    margin-top: 4px;
    font-size: 2.4rem;
    color: var(--white-color);
}


.title__logo{
    background-blend-mode:overlay;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%;
    background-repeat: no-repeat;
}
.tile__logo--item{
    z-index: 1;
    max-width: 68%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 120px;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;
}
.title__logo--img{
    border-radius: 5px;
    height: 98px;
    padding: 0px 0px;
    opacity: 0;
    transition-duration: 500ms;
}



/* navigation */
.navbar{
    background-image: linear-gradient(0 ,#db393e,#ed1c24);
}
.nav__list{
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.nav__list-item{
   position: relative;
}
.navbar--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 26px;
    right: -1px;
    border-left: 2px solid #ecddda;
    top: 50%;
    transform: translatey(-50%);
}
.nav__list-link{
    display: block;
    padding: 0 39px;
    color: var(--white-color);
    font-size: 1.4rem;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
}
.nav__list-link--icon{
    padding-top: 9px;
    font-size: 2.4rem;
}
.nav__list,.sub__nav{
    list-style: none;
}

.nav__list-link:hover{
    opacity: 0.6;
}



/* -----------NAV__MOBILE------------ */
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fedeIn linear .2s;
}
.nav__mobile--close{
    position: absolute;
    height: 22px;
    width: 22px;
    top: 6px;
    right: 8px;
    color: #ccc;
}
.nav__mobile--icon{
    font-size: 2.5rem;
}
.nav__input{
    display: none;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}
.nav__mobile{
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 300px;
    background-color:#f7f7f7;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
}
.nav__mobile--list{
    margin-top: 32px;
    list-style: none;
}
.nav__mobile--item{
    border-top: 2px solid #bfcad1;  
}


.nav__mobile--link{
    display: block;
    padding: 14px 22px;
    color: #1b1818;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
.nav__mobile--link:hover{
    background-color: #ccc;
}
.nav__mobile--item:nth-child(1){
    border-top: 0;  
}
.nav__mobile--login{
    display: flex;
    align-items: center;
}
.nav__mobile--img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
}



/* ------------- */

.sub__nav{
    top: 100%;
    display: none;
    min-width: 250px;
    margin-left: -1px;
    position: absolute;
    background-color:#ea6b48;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.sub__nav-link{
    text-decoration: none;
    display: block;
    color: #000;
    line-height: 38.4px;
    padding: 0 26px;
    font-size: 1.3rem;
}
.nav__list-link--icon-sub{
    margin-left: 4px;
}

.nav__list-item:hover .sub__nav{
    display: block;
    animation: fedeIn ease-in .3s
}
@keyframes fedeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.sub__nav-item:hover .sub__nav-link{
    opacity: 0.6;
    background-color: #ddd;
}

/*  */
.container{
    background-repeat: no-repeat;
    background-image: linear-gradient(0,#ccc, #ddd);
}
.content{
    background-color: #fff;
}
.home__ticket{
    padding:16px 0 ;
    margin: 0 16px;
}
.home__discuss,
.home__ticket-info{
    height: 100%;
    padding: 0 10px 32px;
    background-color: #ccc;
}

.home__ticket--title{
    margin: 4px 0 12px;
}
.home__ticket--title-logo{
    display: flex;
}
.home__ticket--title-img{
    width: 30%;
    flex: 1;
    margin-right: 8px;
}
.home__ticket--title-name{
    flex: 2;
    font-weight: 700;
}
.home__ticket--title-round{
    display: block;
    color: #af2d14;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}
.home__ticket--title-match{
    font-size: 1.4rem;
    color: #bd2102;
   text-align: center;
   margin-top: 4px;
   display: block;
}
.home__ticket--sample{
    margin: 12px 0 16px;
}
.home__ticket--sample-img{
    width: 100%;
    height: 150px;
}
.home__ticket--btn{
    display: flex;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #f5f550;
    color: var(--text-color);
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}
.home__ticket--btn:hover{
    background-color: rgb(233, 67, 67);
    color: #fff;
}


.home__discuss--heading,
.home__ticket-heading{
    display: flex;
    align-items: center;
    color: #2d38d1;
    padding: 8px 0px;
    font-size: 1.6rem;
}

.home__discuss--content{
    height: 95%;
    background-color: #fff;
    margin-bottom: 8px;
}


.slider{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}



/* -------BXH------- */
.home__bxh {
    margin: 16px 0;
}
.home__bxh-img{
    margin: 12px;
    width: 70%;

}
.home__bxh-heading{
    text-align: initial;
    color:rgb(82, 82, 218);
   
}
/* --------HOME NEWS------- */
.home__news{
    margin-top: 32px;
}
.home__news-event{
    margin: 32px 32px 10px;
}

.home__event--item{
    display: block;
    text-decoration: none;
}
.home__event--img{
    
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.home__event--title{
    line-height: 2.1rem;
    font-size: 1.9rem;
    color: var(--text-color);
    padding: 10px 0;
}
.home__event--text{
    font-size: 1.5rem;
    color: rgb(126, 118, 118);
}
.home__event-result{
    margin: 22px 0 8px;
}
.home__result-table, .home__result-title, .home__result-content{
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
}
.home__result-table{
    width: 100%;
    font-size: 1.5rem;
    border-spacing: 5px;
    border: 2px solid rgb(51, 48, 48);
   
}
.home__result-title{
    box-shadow: 0 1px 1px rgb(77, 74, 74); 
    background-color: rgb(176 165 165);
    
}
.home__result-content{
    background-color: #f1c319;
    color: var(--black-color);
}
.home__result-content--item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__result-content--text{
    text-align: center;
    margin-bottom: 8px;
}



.home__news-hot{
    padding-bottom: 8px;
    margin: 0 20px;
}
.home__news-hot--list{
    margin: 10px 0;
}
.home__news-hot--item{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
}
.home__news-hot--img{
    background-position: top center;
    padding-top: 55%;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__news-hot--name{
    font-size: 1.4rem;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.home__news-hot--name:hover{
    color: #ed1c24;
}
.home__news-hot--text{
    color: rgb(121, 121, 121);
    cursor: auto;
    font-weight: 500;
    font-size: 1.3rem;
    overflow: hidden;
    line-height: 1.8rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


.home__news-hot--pages{
    margin-top: 16px;
    text-align: center;
}
.home__hot-pages--prev{
    display: inline-flex;
    height: 24px;
    width: 34px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    background-color: #cdc6c6;
    border: 1px solid #bcb5b5;
}
.home__hot-pages--icon{
    font-size: 1.7rem;
    color: #4c4c4c;
}
.home__page--positions{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #bfcad1;
}
.home__page--positions.home__page--current{
    background-color: #de0204;
}




#map{
    display: flex;
    max-width: 100%;
}
.footer{
    min-height: 160px;
    padding: 40px 0 80px 0; 
    background-color: #ed1c24;
}
.footer__infor{
    text-align: center;
    color: #fff;
    
}
.footer span{
   font-size: 1.5rem;
   
}
.footer__infor-text{
    width: 80%;
    margin: auto;
    text-transform: uppercase;
}
.footer__infor-contact i[class*="fa-"]{
    width: 20px;
    font-size: 14px;
}
.footer__infor-contact>p{
    font-size: 1.4rem;
}



/* CSS PAGE ĐẶT VÉ */

.ticket__book{
    margin-top: 16px;
}
/* customer__infor */

.customer__infor,
.ticket__infor{
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ff0000;
}
.customer__infor--heading,
.ticket__infor--heading{
    position: relative;
    margin: 0;
    padding: 8px 0 8px 46px;;
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
}
.customer__infor--heading::after,
.ticket__infor--heading::after{
    position: absolute;
    content: "";
    border-left: 3px solid #fff;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}
.customer__infor--head{
   margin: 16px 32px 12px;
}
.customer__infor--input{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.customer__infor--main,
.customer__infor--sub{
    min-width: 250px;
}
.customer__infor--name{
    font-size: 18px;
}
.customer__infor-fill,
.ticket__input--fill{
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    padding: 8px 0 8px 16px;
    margin-top: 10px;
    border: 2px solid #c9c9c9;
}
.customer__infor--request{
    max-width: 250px;
}
.customer__request-fill{
    max-height: 120px;
    resize: none;   
}
.color{
    color: #ff0000;
}


.customer__infor--body{
    border-top: 2px solid #ff0000;
    margin: 0 32px;
}
.customer__body-heading{
    padding: 5px 0px 5px 14px;
    max-width: 200px;
    margin: 16px 0;
    background-color: #cecece;
    border-radius: 8px;
    font-size: 18px;
    color: #ff0000;
}
.customer__body-text{
    line-height: 25px;
    font-size: 18px;
}
input[type='number'] {
    -moz-appearance:textfield;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* ticket__infor */
.ticket__infor,
.ticket__infor--btn{
    margin-left: 32px;
}
.ticket__infor--battle{
    margin: 0 46px;
}

.ticket__infor--input{
    margin-top: 24px;

}
.ticket__input--name{
    font-size: 18px;
}
.ticket__infor--input-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ticket__input--name{
    font-size: 18px;
}
.ticket__input--option{
    margin-left: 32px;
    font-size: 1.7rem;
}
.ticket__input--quantity{
    margin-top: 4px;
    outline: none;
    padding: 5px 17px;
    font-size: 17px;
}
.ticket__input--inventory{
    line-height: 20px;
    margin: 4px 0;
    font-size: 18px;
    padding: 12px ;
    background-color: #0bffff;
    color: #ff0000;
    font-weight: 600;
    border: 1px solid #14d3d3;
}
.ticket__input--sum{
    margin: 16px 0;
    text-align: center;
    border-top: 2px solid #ff0000;
    font-size: 19px;
    font-weight: 600;
    color: #ff0000;
    padding: 16px 0px 2px;
}
.ticket__infor--btn{
    text-align: center;
    margin-top: 32px;
}

.ticket__infor--btn.ticket__infor--btn-mobile{
    display: none;
}
.ticket__btn--icon{
    margin-right: 6px;
}
.ticket__btn{
        height: 36px;
        min-width: 150px;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 17px;
        line-height: 1.6rem;
        padding: 0 12px;
        color: #fff;
        background-color: #ff0000;  
}